:host {
  --card-bg: #fff;
}
@media (prefers-color-scheme: dark) {
  :host {
    --card-bg: #383737c2;
  }
}
ion-card {
  width: 100%;
  border-radius: 1.5rem;
  background: var(--card-bg);
}
ion-slides {
  ion-slide {
    width: 80%;
  }
}
.section-title {
  font-size: 1rem;
}
