<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()" color="primary" fill="clear">
      Close
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-card class="h-100 m-0">
    <div class="player-profile ion-text-center">
      <img class="h-100" [src]="playerData.data.icon">
      <ion-card-header class="p-1">
        <ion-card-title>{{playerData['data']['Name']}}</ion-card-title>
        <ion-card-subtitle class="font-bold">{{playerData['data']['Role']}}</ion-card-subtitle>
      </ion-card-header>
    </div>
    <ion-card-content class="p-0">
      <super-tabs>
        <super-tabs-toolbar slot="top">
          <super-tab-button>
            <ion-label>Batting</ion-label>
          </super-tab-button>
          <super-tab-button>
            <ion-label>Bowling</ion-label>
          </super-tab-button>
          <super-tab-button>
            <ion-label>Insights</ion-label>
          </super-tab-button>
        </super-tabs-toolbar>
        <super-tabs-container>
          <super-tab>
            <ion-content class="batting-stats">
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <ion-card>
                      <div>Mat/Inn</div>
                      <h2>{{playerData['data']['AllmatchData']['Matches'] || '-'}} / {{playerData['data']['AllmatchData']['NoofMatchesBatted'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>Runs</div>
                      <h2>{{playerData['data']['AllmatchData']['Runs'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>H.S</div>
                      <h2>{{playerData['data']['AllmatchData']['HighScore'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>Avg</div>
                      <h2>{{playerData['data']['AllmatchData']['AvgRuns'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>6s</div>
                      <h2>{{playerData['data']['AllmatchData']['Sixes'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>4s</div>
                      <h2>{{playerData['data']['AllmatchData']['Fours'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>S.R</div>
                      <h2>{{playerData['data']['AllmatchData']['StrikeRate'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-content>
          </super-tab>
          <super-tab>
            <ion-content class="bowling-stats">
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <ion-card>
                      <div>Mat/Inn</div>
                      <h2>{{playerData['data']['AllmatchData']['Matches'] || '-'}} / {{playerData['data']['AllmatchData']['NoofMatchesBatted'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>Overs</div>
                      <h2>{{playerData['data']['AllmatchData']['OversBowled'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>Wickets</div>
                      <h2>{{playerData['data']['AllmatchData']['Wickets'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>Economy</div>
                      <h2>{{playerData['data']['AllmatchData']['economy'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>Maidens</div>
                      <h2>{{playerData['data']['AllmatchData']['MaidenOvers'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                  <ion-col size="4">
                    <ion-card>
                      <div>Wides</div>
                      <h2>{{playerData['data']['AllmatchData']['Wides'] || '-'}}</h2>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-content>
          </super-tab>
          <super-tab>
            <ion-content class="insights">
              <div class="p-1">
                <ion-card *ngIf="latestScoresChartData.length > 0">
                  <div class="ion-text-center">
                    <ion-chip class="mt-2">
                      <ion-label>Recent Scores and Strike Rate</ion-label>
                    </ion-chip>
                    <div class="p-2">
                      <app-bar-chart [chartType]="'batting'" [chartData]="latestScoresChartData"></app-bar-chart>
                    </div>
                  </div>
                </ion-card>
                <ion-card *ngIf="latestWicketsChartData.length > 0">
                  <div class="ion-text-center">
                    <ion-chip class="mt-2">
                      <ion-label>Recent Wickets and Economy</ion-label>
                    </ion-chip>
                    <div class="p-2">
                      <app-bar-chart [chartType]="'bowling'" [chartData]="latestWicketsChartData"></app-bar-chart>
                    </div>
                  </div>
                </ion-card>
                <ion-card *ngIf="dismissalChartData.length > 0">
                  <div class="ion-text-center">
                    <ion-chip class="mt-2">
                      <ion-label>How Out</ion-label>
                    </ion-chip>
                    <div class="p-2">
                      <app-pie-chart [chartCategory]="'batting-dismissals'" [chartData]="dismissalChartData"></app-pie-chart>
                    </div>
                  </div>
                </ion-card>
              </div>
            </ion-content>
          </super-tab>
        </super-tabs-container>
      </super-tabs>
    </ion-card-content>
  </ion-card>
</ion-content>
