.scorecard-header {
  background: var(--ion-card-background);
}
.how-out {
  font-size: .8rem;
}
.scorecard-container ion-row {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: var(--ion-card-color);
  border-bottom: 1px solid rgba(195,193,193,.1803921568627451);
  &.scorecard-header {
    border: 0;
  }
}
.team-name {
  font-size: 1rem;
  font-weight: bold;
}
.team-runs {
  font-size: 1rem;
}
.venue {
  font-size: .8rem;
  ion-icon {
    color: red;
  }
}
.match-result {
  color: #e69318;
}
.summary-container {
  padding: 5px 15px;

  ion-avatar {
    height: 36px;
    width: 36px;
  }
}
ion-card {
  border-radius: 1.5rem;
}
.mom {
  span {
    color: var(--app-primary-color);
    font-weight: bold;
    font-size: 1rem;
  }
}
.player-name {
  color: var(--app-primary-color);
  font-weight: bold;
  font-size: 1rem;
}
.match-type-date {
  border-bottom: 1px solid #555555;
  padding: 5px 10px;
}
::ng-deep app-match-summary-card ion-card {
  margin-bottom: 0!important;
}
@media (prefers-color-scheme: light) {
  .scorecard-container super-tab ion-content::part(background) {
    background: #fff;
  }
  .scorecard-container ion-row {
    border-bottom: 1px solid #cecdcd;
  }
}
