<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button [routePath]="'/dashboard/matches'"></app-back-button>
    </ion-buttons>
    <ion-title>
      Match Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-0">
  <div class="p-2">
    <app-match-summary-card [matchData]="matchSummary"></app-match-summary-card>
  </div>
  <super-tabs class="scorecard-container">
    <super-tabs-toolbar>
      <super-tab-button>
        <ion-label>Batting</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>Bowling</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <ion-row class="scorecard-header font-bold p-2 pb-1 pt-1">
            <ion-col [size]="5">Batsman</ion-col>
            <ion-col>R</ion-col>
            <ion-col>B</ion-col>
            <ion-col>4s</ion-col>
            <ion-col>6s</ion-col>
            <ion-col>SR</ion-col>
          </ion-row>
          <ng-container *ngFor="let player of matchDetails">
            <ion-row (click)="presentModal(player['PlayerID'])" class="p-2 position-relative pb-0 pt-0" *ngIf="player['BattedOrder'] !== 0">
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              <ion-col [size]="5">
                <div class="player-name">{{player['playerName']}}</div>
                <div class="how-out">{{player['HowOut']}}</div>
              </ion-col>
              <ion-col>
                {{player['Runs']}}
              </ion-col>
              <ion-col>
                {{player['Balls']}}
              </ion-col>
              <ion-col>
                {{player['Fours']}}
              </ion-col>
              <ion-col>
                {{player['Sixes']}}
              </ion-col>
              <ion-col>
                {{player['strikeRate']}}
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-row class="scorecard-header font-bold p-2 pb-1 pt-1">
            <ion-col [size]="5">Bowler</ion-col>
            <ion-col>O</ion-col>
            <ion-col>R</ion-col>
            <ion-col>M</ion-col>
            <ion-col>W</ion-col>
            <ion-col>ER</ion-col>
          </ion-row>
          <ng-container *ngFor="let player of matchDetails">
            <ion-row class="p-2 pb-0 pt-0" *ngIf="player['OversBowled'] !== '0'">
              <ion-col [size]="5">
                <div class="player-name">{{player['playerName']}}</div>
              </ion-col>
              <ion-col>
                {{player['OversBowled']}}
              </ion-col>
              <ion-col>
                {{player['RunsConceeded']}}
              </ion-col>
              <ion-col>
                {{player['MaidenOvers']}}
              </ion-col>
              <ion-col>
                {{player['Wickets']}}
              </ion-col>
              <ion-col>
                {{player['economy']}}
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>

