<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="d-flex app-header-wrapper">
      <ion-avatar>
        <ion-img src="assets/images/team.jpg"></ion-img>
      </ion-avatar>
      <ion-title>
        Magnets CC
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-1 matches-list">
    <ng-container *ngFor="let matchData of allMatchesData">
      <app-match-summary-card [matchData]="matchData"></app-match-summary-card>
    </ng-container>
  </div>
</ion-content>

