<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="stats">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matches">
      <ion-icon src="assets/images/cricket-stump.svg"></ion-icon>
      <ion-label>Matches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <ion-icon name="images"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
