<ion-card class="ion-activatable position-relative" (click)="onCardClick(matchData)">
  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  <div class="match-type-date">
    <ion-row class="ion-text-center">
      <ion-col>{{matchData['matchType']}}</ion-col>
    </ion-row>
    <ion-row class="venue">
      <ion-col [size]="7" class="d-flex ion-align-items-center">
        <ion-icon name="location"></ion-icon>
        <span>&nbsp;&nbsp;{{matchData['venue']}}</span>
      </ion-col>
      <ion-col [size]="5" class="ion-text-end">{{matchData['matchDate']}}</ion-col>
    </ion-row>
  </div>
  <div class="p-1 match-content-wrapper">
    <ng-container *ngIf="matchData['batOrChase'] === '0'">
      <ng-container *ngTemplateOutlet="scoreTemplate;context:{teamName: matchData['opponentName'],runs: matchData['opponentScore'].runs, overs: matchData['opponentScore']['overs'][0], teamImage: 'assets/images/club.PNG'}"></ng-container>
      <ng-container *ngTemplateOutlet="scoreTemplate;context:{teamName: 'Chennai Bulls',runs: matchData['teamScore'].runs, overs: matchData['teamScore']['overs'][0], teamImage: 'assets/images/team.jpg'}"></ng-container>
    </ng-container>
    <ng-container *ngIf="matchData['batOrChase'] === '1'">
      <ng-container *ngTemplateOutlet="scoreTemplate;context:{teamName: 'Chennai Bulls',runs: matchData['teamScore'].runs, overs: matchData['teamScore']['overs'][0], teamImage: 'assets/images/team.jpg'}"></ng-container>
      <ng-container *ngTemplateOutlet="scoreTemplate;context:{teamName: matchData['opponentName'],runs: matchData['opponentScore'].runs, overs: matchData['opponentScore']['overs'][0], teamImage: 'assets/images/club.PNG'}"></ng-container>
    </ng-container>
    <ion-row>
      <ion-col class="ion-text-left">
        <span class="match-result">{{matchData['result']}}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="matchData['mom']" class="mom">
      <ion-col class="d-flex ion-align-items-center">
        <ion-icon [src]="'assets/images/medal.svg'"></ion-icon>
        <span class="pl-1">{{matchData['mom']}}</span>
      </ion-col>
    </ion-row>
  </div>
</ion-card>

<ng-template #scoreTemplate let-teamName="teamName" let-runs="runs" let-overs="overs" let-teamImage="teamImage">
  <ion-row>
    <ion-col class="d-flex ion-align-items-center">
      <ion-avatar>
        <img [src]="teamImage">
      </ion-avatar>
      <span class="pl-1 team-name">{{teamName}}</span>
    </ion-col>
    <ion-col class="d-flex ion-align-items-center ion-justify-content-end ion-text-right">
      <span class="team-runs font-bold">{{runs}}</span><span>({{overs}})</span>
    </ion-col>
  </ion-row>
</ng-template>
